body {
  font-family: 游ゴシック, "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans", meiryo,sans-serif;
  font-size: 15px;
  letter-spacing: .05em;
  color: #52514C;
  background-color: #fff;
}

p {
  color: #52514C;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

.box {
  margin: 0 0 50px;   /* 下方向に適度な余白 */
  opacity: 0;         /* 初期値は透明にしておく */
  transition: .5s;    /* 動くスピードを0.5秒に指定 */
  position: relative; /* 相対位置の設定 */
  top: 50px;          /* 事前に下に50pxずらしておく */
}

.active {
  opacity: 1;         /* 透明度を元に戻す */
  top: 0;             /* ずらしていた位置を戻すことで上に上がっているようにみえる */
}

/*--------------------------------
 レイアウト
---------------------------------*/
.section {
  padding: 30px 0;
}

.section:nth-of-type(even) {
  background-color: #fbf9fa;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #71706a;
  display: inline-block;
  text-align: left;
  font-size: 35px;
  margin-top: 40px;
  padding-bottom: 10px;
  line-height: 1;
  letter-spacing: .05em; 
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  display: flex;
  padding: 10px 10px 0 10px;
}

.mv-container {
  position: relative;
  background-image: url(../img/main.jpg);
  background-size: cover;
  width: 100vw;
  height: 90vh;
}

.mv-subtitle-1 {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  color: #FFF;
  top: 32%;
  left: 38%;
  font-size: 20px;
}

.mv-title {
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  color: #FFF;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-15deg);
  padding:0;
  margin:0;
  font-size: 150px;
}

.mv-subtitle-2 {
 font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal; 
  position: absolute;
  color: #FFF;
  top: 60%;
  left: 55%;
  font-size: 20px;
}

/*--------------------------------
メニューバー
---------------------------------*/
.menu-bar {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  padding-top: 5px;
  box-sizing: border-box;
}

.menu-bar-list {
  display: flex;
}

.menu-bar-item {
  list-style: none;
}

.menu-bar-item a {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  text-decoration: none;
  color: #FFF;
  font-size: 40px;
  margin-right: 70px;
  transition: all 0.2s;
}

.menu-bar-item a:hover {
  transform: scale(1.3, 1.3);
}
/*--------------------------------
 Works
---------------------------------*/
/* スライダー*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:94%;
  margin:0 auto;
}

.slider img {
  width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
  height:auto;
  border: 5px solid #FFF;
  box-shadow: 0 0 5px #999;
}

.works-item:hover {
  opacity: .7;
}

.slider .slick-slide {
transform: scale(0.8);/*左右の画像のサイズを80%に*/
transition: all .8s;/*拡大や透過のアニメーションを0.5秒で行う*/
}

.slider .slick-slide .slick-center{
transform: scale(1);/*中央の画像のサイズだけ等倍に*/
opacity: 1;/*透過なし*/
}

/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
  position: absolute;/*絶対配置にする*/
  top: 42%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666;/*矢印の色*/
  border-right: 2px solid #666;/*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
  text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
  display:inline-block;
  margin:0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width:8px;/*ドットボタンのサイズ*/
  height:8px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
}

.works-name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 15px;
  margin-top: 5px;
  opacity: 0.8;
}

.works-detail {
  margin-top: 8px;
  font-size: 18px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-content {
  background-color: #FFF;
  padding: 1.5em;/*内側余白*/
	border-radius:30px;/*丸みを調整*/
  border: 1px solid #ddd;
  box-shadow: 0 0 1px #999;
  margin: 2em auto;
  width: 32%;
}

.skill-list-title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  font-size: 200%;
}

.skill-img {
  width:80%;
  height: 20%;
  margin: 0 auto 20% auto;
  padding: 0;
}

.skill-comment{
  line-height: 1.833;
}

/*--------------------------------
 About
---------------------------------*/
.profile {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.profile-img-block {
  width: 41.782%;
}

.profile-img {
  transform: scale3d(1, 1, 1);
  width: 100%;
  /* margin: 0 8%; */
}

.profile-body{
  width: 41.667%;
}

.profile-name {
  font-size: 35px;
  letter-spacing: .1em;
  text-align: center;
}


/*--------------------------------
 Contact
---------------------------------*/
.copy-link {
  position:relative;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;

  input {
    padding: 10px;
    font-size: 25px;
    color: #555;
    border: none;
    outline: none;
    width: 100%;
  }

  button {
    padding: 10px;
    background: var(--main-color-dark);
    font-size: 18px;
    
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &::active {
      background: #FFF;
    }

    &::before {
      content: "Copied!";
      position: absolute;
      top: -50px;
      right: 0px;
      background: var(--main-color-dark);
      border-radius: 20px;
      padding: 9px 10px;
      font-size: 14px;
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      right: 25px;
      width: 10px;
      height: 10px;
      background: var(--main-color-dark);
      transform: rotate(45deg);
      display: none;
    }
  }

  &.active button::after,
  &.active button::before {
    display: block;
  }
}

/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #4c4c4c;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #fff;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}


/*--------------------------------
 スマートフォン用
---------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  /*--------------------------------
  見出し
  ---------------------------------*/
  .title {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  /*--------------------------------
  レイアウト
  ---------------------------------*/
  .section {
    padding: 60px 0 20px 0;
  }

  .container {
    padding: 0 20px;
  }
  
  /*--------------------------------
  メインビジュアル
  ---------------------------------*/
  .mv-container {
    height: 98vh;
  }

  .mv-container {
    padding: 0 20px;
  }

  .mv-subtitle-1 {
    top: 20%;
    left: 18%;
  }

  .mv-title {
    font-size: 100px;
  }

  #particles-js {
    height: 100%;
  }

  /*--------------------------------
  メニューバー
  ---------------------------------*/
  .menu-bar-item {
    display:none;
  }

  /*--------------------------------
  Works
  ---------------------------------*/
  .slider {
    width:100%;
  }

  .slider img {
    width:100vw;
    height:25vh;
  }

  .works-info {
    margin-top: 3px;
  }

  .works-info {
    font-size: 20px;
    margin-top: 3px;
    opacity: 0.8;
  }
  
  .works-detail {
    margin-top: 8px;
    font-size: 18px;
  }

  /*--------------------------------
  Skill
  ---------------------------------*/
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-content {
    margin: 2em auto;
    width: 90%;
  }

  .skill-img {
    margin: 0 auto 8% auto;
  }

  /*--------------------------------
  About
  --------------------------------*/
  .profile {
  display: block;
  width: 100%;
  }

  .profile-img-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
  }

  .profile-img {
    width: 48.8vw;
  }
  .profile-body{
    width: 100%;
    margin-top: 3%;
  }

  .profile-name {
    text-align: left;
  }
  /*--------------------------------
  Contact
  ---------------------------------*/
  #contact{
    display: none;
  }

  /*--------------------------------
  フッター
  ---------------------------------*/
  .footer {
    padding: 20px;
    background-color: #fbf9fa;
  }
}