body {
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 15px;
  letter-spacing: .05em;
  background-color: #fff;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.section {
  padding: 30px 0;
}

.section:nth-of-type(even) {
  background-color: rgba(244,159,180,0.2)
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;

  display: inline-block;
  padding-bottom: 10px;
  line-height: 1;
  margin-top: 40px;
  text-align: left;
  letter-spacing: .05em;
  color: #fff;
  text-shadow:
    0 0 0.05em #F06292,
    0 0 0.10em #F06292,
    0 0 0.15em #F06292,
    0 0 0.30em #F06292;
  filter: saturate(80%);
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
}

.mv-container {
  position: relative;
  background-image: url(../img/main.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.mv-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding:0;
  margin:0;
  font-size: 270px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
  color: #FFF;
  text-shadow:
    0 0 0.05em #F06292,
    0 0 0.10em #F06292,
    0 0 0.15em #F06292,
    0 0 0.30em #F06292;
  filter: saturate(80%);
}

/* #particles-js{ 
  position:absolute;
  z-index:1;
  width: 100%;
  height: 100%;
} */

/* #wrapper{
  position: relative;
  z-index: 0;
  width:100%;
  height: 100%;
} */
/*--------------------------------
メニューバー
---------------------------------*/
.menu-bar {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  padding-top: 5px;
  box-sizing: border-box;
}

.menu-bar-list {
  display: flex;
}

.menu-bar-item {
  list-style: none;
}

.menu-bar-item a {
  display: block;
  text-decoration: none;
  color: #FFF;
  font-size: 30px;
  margin-right: 70px;
  transition: all 0.2s;
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
}

.menu-bar-item a:hover {
  transform: scale(1.3, 1.3);
}
/*--------------------------------
 Works
---------------------------------*/
/* スライダー*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:94%;
  margin:0 auto;
}

.slider img {
  width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
  height:auto;
  border: 5px solid #FFF;
  box-shadow: 0 0 5px #999;
}

.works-item:hover {
  opacity: .7;
}

.slider .slick-slide {
transform: scale(0.8);/*左右の画像のサイズを80%に*/
transition: all .8s;/*拡大や透過のアニメーションを0.5秒で行う*/
}

.slider .slick-slide .slick-center{
transform: scale(1);/*中央の画像のサイズだけ等倍に*/
opacity: 1;/*透過なし*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
  position: absolute;/*絶対配置にする*/
  top: 42%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666;/*矢印の色*/
  border-right: 2px solid #666;/*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
  text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
  display:inline-block;
  margin:0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width:8px;/*ドットボタンのサイズ*/
  height:8px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
}

.works-name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 15px;
  margin-top: 5px;
  opacity: 0.8;
}

.works-detail {
  margin-top: 8px;
  font-size: 18px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 180px;
  background-color: rgb(255,147,147,0.6);
  border-radius: 50%;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.08);
  /*キラッと光る基点とするためrelativeを指定*/
	position: relative;
  text-decoration: none;
  outline: none;
    overflow: hidden;
}

.skill-item::before {
	content: '';
    /*絶対配置でキラッと光るの位置を決める*/
	position: absolute;
	top: 0;
	left: -75%;
    /*キラッと光る形状*/
    width: 50%;
	height: 100%;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	transform: skewX(-25deg);
}

/*hoverした際の移動のアニメーション*/
.skill-item:hover::before {
	animation: shine 0.7s;
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

.skill-item:nth-child(even) {
  margin-top: 50px;
}

.skill-img {
  display: block; 
  margin: auto;
  width: 65%;
  height: auto;
}

/*--------------------------------
 About
---------------------------------*/
.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.profile-img {
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
}
.profile-img img {
  border-radius: 50%;
}
.profile-body {
  flex: 1;
}

.profile-body p {
  font-size: 15px;
  line-height: 1.8;
}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #4c4c4c;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #fff;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}


/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header .container {
    padding: 15px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 10px;
  }

  .gnav-item a:after {
    display: none;
  }

  /*  メインビジュアル */
  .mv-container img{
    height: 80vm;
  }

  .mv-container {
    padding: 0 20px;
  }

  .mv-title {
    font-size: 30px;
  }
  .mv-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .mv-text {
    top: 75%;
    font-size: 14px;
    line-height: 1.7;
  }

  /* Works */
  .works-name {
    font-size: 12px;
  }

  .works-info {
    margin-top: 3px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .works-list-container:nth-child(even){
    display: block;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-name {
    margin-bottom: 5px;
  }

  .skill-text {
    font-size: 13px;
    line-height: 1.7;
  }

  /* About */
  .profile {
    display: block;
  }
  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
  }

  .article-body h3 {
    font-size: 16px;
    padding-left: .8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
}

.works-list-container:nth-child(odd){
  display: flex;
}

@media(max-width : 767px ){
  .works-list-container:nth-child(odd){
  display: block;
  }
}
